@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Inter:wght@300;400&family=Kaushan+Script&family=Lexend+Deca:wght@200&family=Nunito:ital,wght@0,200;0,300;0,400;1,400&family=Poppins:ital,wght@0,300;1,100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), transparent), url(../img/pexels-negative-space-34153.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8;
    position: relative;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    bottom: -5.25%;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 50%;
}

.name{
    color: #fff;
    position: absolute;
    bottom: 8%;
}

.name p{
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
    padding-left: 20px;
}

.name h1{
    font-size: 100px;
    line-height: 160px;
    margin-left: -0px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: load 20s linear infinite;
}

@keyframes load{
    100%{
        background-position: 1000px 0;
    }
}

.name h3{
    font-size: 30px;
    font-weight: 600;
}

.name .more{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.name .more a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}

.name .more a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}